// TYPOGRAPHY
$main-font: Arial, Helvetica, sans-serif;

// COLORS 
$white: #ffffff;
$nevada: #62676c;
$shark: #1a1b1b;
$eastern-blue: #27aabe;
$salmon: #fc8c5e;
$silver-chalice: #aeaeae;
$royal-blue: #6a5fe1;
$totem-pole: #951a0c;
$ultramarine: #0c1f86;
$malibu: #74def4;

//median cut
$bizarre: #eee3d6;
$cape-cod: #3b3d3f;
$boston-blue: #399bc0;
$wedgewood: #516faa;
$downy: #6dc2d0;

//material design
$san-marino: #4562b0;
$oslo-gray: #969799;
$ironstone: #8a453f;
$shark: #202325;
$downy-lightvibrant: #6fc2d2;